{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="old_password" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" id="new_password_again" name="new_password_again" placeholder="New Password Again" type="password">
        </div>
        <div class="alert alert-danger collapse" id="password_alert" role="alert">
              New password did not match with confirmation
        </div>
        <button class="btn btn-primary" id="submit" type="submit">Change</button>
    </form>
    <script>
    $(function () {
        $("#submit").click(function () {
            var password = $("#new_password").val();
            var confirmPassword = $("#new_password_again").val();
            if (password != confirmPassword) {
                $("#password_alert").collapse().show();
                return false;
            }
            return true;
        });
    });
    </script>
{% endblock %}
