{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="/">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
              </tr>
            </thead>
            <tbody>
                {% for transaction in history %}
                    <tr>
                        <td> {{ transaction.symbol }} </td>
                        <td> {{ transaction.shares }} </td>
                        <td> {{ transaction.price }} </td>
                        <td> {{ transaction.transacted }} </td>
                    </tr>
            {% endfor %}
          </tbody>
        </table>
    </form>
{% endblock %}
